.page {
    margin: 0 calc(var(--margin-base) * 4);

    &--filter-line1,
    &--filter-line2 {
        display: flex;
        margin-bottom: calc(var(--margin-base) * 2);

        & > * {
            box-sizing: border-box;
            padding-left: calc(var(--padding-base) * 1);
            padding-right: calc(var(--padding-base) * 1);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        .text-label {
            margin-bottom: 4px;
        }
    }

    &--filter-tool-buttons {
        display: flex;
        justify-content: flex-end;

        & > * {
            margin-right: calc(var(--margin-base));

            &:last-child {
                margin-right: 0;
            }
        }

        &--2 {
            & > * {
                max-width: calc((100% - calc(var(--margin-base))) / 2);
            }
        }

        &--3 {
            & > * {
                max-width: calc((100% - calc(var(--margin-base))) / 3);
            }
        }
    }

    &--title-tool-buttons {
        display: flex;
        justify-content: flex-end;

        & > * {
            margin-right: calc(var(--margin-base) * 2);

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &--form {
        padding-top: calc(var(--margin-base) * 3);
        padding-right: calc(var(--margin-base) * 4);
        padding-bottom: calc(var(--margin-base) * 3);
        padding-left: calc(var(--margin-base) * 4);

        & > * {
            margin-top: calc(var(--margin-base) * 3) !important;
            box-sizing: border-box;

            &:first-child {
                margin-top: 0 !important;
            }

            .flex-row {
                box-sizing: border-box;

                & > * {
                    box-sizing: border-box;

                    & > * {
                        box-sizing: border-box;

                        &:first-child {
                            margin-top: 0 !important;
                        }
                    }
                }
            }
        }

        &--button {
            display: flex;
            justify-content: flex-end;
        }

        .text-label {
            margin-bottom: 4px;
        }

        .textarea-box {
            textarea {
                min-height: 150px;
            }
        }
    }

    &--table-image {
        width: 80px;
        height: 80px;
        object-fit: contain;

        &-radius {
            border-radius: 4px;
        }

        &-cursor-pointer {
            cursor: pointer;
        }
    }

    &--icon-image {
        width: 16px;
        height: 16px;
    }

    .table {
        &--header__field-action {
            width: 0;
            white-space: nowrap;
        }
    }
}
